<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
<!--        <form action="#" th:action="@{/}" th:object="${User}" method="post">-->
    <form action="#" th:action="@{DashBoard.html}">
        <div class="input-group">
            <label for="username">Username</label>
<!--            <input type="text" id="username" name="username" required th:field="*{username}" th:if="${#fields.hasErrors('username')}">-->
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
<!--            <input type="password" id="password" name="password" th:field="*{password}" th:errors="*{username}" required>-->
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="http://google.com">Sign up</a></p>
</div>
</body>
</html>